p{
    /* color properties */

    /* named colors */
    background-color: black;
    color: white;

    /* rgb colors */
    background-color: rgb(53, 2, 112); /* range => 0 - 255 */
    color: rgb(255, 255, 255);

    /* rgba colors */
    background-color: rgba(53, 2, 112, 0.5); /* range => 0 - 255, alpha => 0 - 1 */
    color: rgba(255, 255, 255, 0.5);

    /* hex colors */
    background-color: #350270; /* range => 00 - FF */
    color: #FFFFFF;


    /* border properties */

    /* border-width, border-style, border-color */
    border-width: 2px;
    border-style: solid;
    border-color: black;

    /* shorthand property */
    border: 2px solid black;
    border: 2px dashed black;

    /* different border styles for different sides */
    border-top: 2px solid red;
    border-right: 2px dashed green;
    border-bottom: 2px dotted blue;
    border-left: 2px double orange;

    /* border-radius property */
    border-radius: 10px; /* range => 0 - 50% */

    /* circular shape */
    width: 100px;
    height: 100px;
    border-radius: 50%;

    /* different border-radius for different corners */
    border-top-left-radius: 50%;
    border-bottom-right-radius: 20px;
}