h1{
    border: 2px solid black;
    background-color: red;

    /* padding => space inside the box */
    padding: 10px;
    padding-top: 50px;
    padding-left: 70px;
    padding: 20px 30px 50px 60px;

    /* margin => space outside the box */
    margin: 50px;
}

/* universel selector => browser applys some styles by default so to remove these styles we use this selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* flex box */
/* clip path */
/* margin : auto */
/* background images porperties */