@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    color: white;
    position: relative;
}

.container {
    max-width: 1116px;
    margin-inline: auto;
}

header {
    background-color: transparent;
    border-radius: 0 0 25px 25px;
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 100;
}

header .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

header .container a {
    color: inherit;
    text-decoration-line: none;
    display: block;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    transition: background-color 0.4s ease;
}

header .container a:not([class="sign-in"]):hover {
    background-color: rgba(255, 255, 255, 0.10);
}

header .container a.active {
    background-color: rgba(255, 255, 255, 0.10);
}

header .container .sign-in {
    background-color: #ee626b;
    font-weight: 500;
}

.hero {
    min-height: 100vh;
    background-image: url('assets/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 225px 0;
    border-radius: 0 0 150px 150px;
}

.hero .container {
    display: flex;
}

.hero .container > div {
    width: 50%;
}

.hero-left {
    padding-top: 7px;
}

.hero-sub-heading {
    font-size: 20px;
    font-weight: 500;
}

.hero-heading {
    font-size: 48px;
    margin: 20px 0 40px;
    padding: 0 0 5px;
    position: relative;
    line-height: 1.2;

    &::after {
        position: absolute;
        background-image: url(assets/caption-dec.png);
        width: 202px;
        height: 12px;
        content: '';
        left: 125px;
        bottom: 0;
    }
}

.hero-description {
    font-size: 14px;
    margin-bottom: 70px;
    line-height: 28px;
}

.hero-form {
    position: relative;
    max-width: 450px;
}

.hero-input {
    max-width: 450px;
    width: 100%;
    height: 50px;
    background-color: white;
    outline: none;
    border-radius: 25px;
    padding-inline: 25px;
    color: white;
    font-size: 14px;
    color: #7a7a7a;
    border: none;
}

.search-btn {
    height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-inline: 25px;
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -2px;
    transition: all .3s;

    &:hover {
        background-color: #0071f8;
    }
}

.hero-right {
    display: flex;
    justify-content: flex-end;
}

.frame {
    position: relative;
}

.hero-img {
    width: 356px;
    height: 434px;
    border-radius: 25px;
}

.price {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 25px;
    background-color: #008af8;
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 4px 15px;
}

.offer {
    background-color: #ee626b;
    color: white;
    font-weight: 700;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: -25px;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
}