* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #0A1317;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 0;
    background:
      radial-gradient(circle at 15% 50%, #ffeef3 0%, transparent 50%),
      radial-gradient(circle at 85% 50%, #eaf4ff 0%, transparent 50%);
    animation: fadeOut 1.5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

section {
    padding-top: 2.3rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 1;
}

form {
    width: 557px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: .15rem;
}

.back-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    transition: all .3s ease;
    background-color: transparent;
    margin-left: -14px;
    margin-bottom: 6px;

    &:hover {
        background-color: #F2F2F2;
    }
}

.meta-svg {
    height: 12px;
    width: 60px;
    margin-bottom: 8px;
}

.title {
    font-size: 25.5px;
    font-weight: 600;
    margin-bottom: 3px;
}

.description {
    margin-bottom: 10px;
    line-height: 1.1;
}

.input-group {
    margin-bottom: 18px;
}

.email-num-input-group {
    margin-bottom: 0;
}

label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
}

input,
select {
    padding: 16px 16px 18px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    font-size: 1rem;
    width: 100%;
    font-weight: 500;
    background-color: transparent;

    &:hover {
        border-color: black;
    }
}

select {
    color: #757575;
}

.inputs-wrapper {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.notification-para {
    margin-top: 8px;
    margin-bottom: 12px;
    font-weight: 500;
}

a {
    text-decoration-line: none;
    color: #0064E0;
    font-weight: 500;

    &:hover {
        text-decoration-line: underline;
    }
}

.password-input-group {
    margin-bottom: 26px;
}

.service-para,
.policy-para,
.terms-para {
    font-size: 16px;
}

.service-para,
.terms-para {
    margin-bottom: 8px;
}

.policy-para {
    margin-bottom: 24px;
}

button {
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.submit-btn {
    background-color: #0064E0;
    color: white;
    margin-bottom: 10px;

    &:hover {
        background-color: #015ac7;
    }
}

.have-acc-btn {
    border: 1px solid rgba(0, 0, 0, 0.164);
    background-color: transparent;

    &:hover {
        background-color: #F0F0F0;
    }
}

.info-box {
    font-weight: 400;
    font-size: 16px;
    width: 450px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    position: absolute;
    top: 28px;
    left: 112px;
    display: none;
    z-index: 10;
}

.date-of-birth-svg:hover + .info-box,
.gender-svg:hover + .info-box {
    display: block;
}

.gender-svg + .info-box {
    left: 65px;
}