*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    background: url(./cta_2.png) , linear-gradient( #452b78d3, #452b78d3);
    padding-top: 100px;
    margin-top: 80px ;
    color: beige;
    height: 261px;
    width: 1351px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

    

}
.left h1{
    font-weight: bold;
    font-size: 48px;
}
.left{
    padding-left: 100px;
}
.left h3{
    padding-top: 20px;
    font-weight: 400;
}
.right button{
    font-size: 14px;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 14px;
    padding: 18px 29px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #452b78d3;
    border-color: azure;
    border: none;
    border:  solid 2px white;
}
