* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
}

section div {
    height: 100%;
}

section > div {
    padding: 2.5rem 1rem 5rem 2.5rem;
}

.section-left {
    display: flex;
    width: 52%;
}

.section-left .left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-left .right {
    flex-grow: 1;
}

.title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    text-wrap: nowrap;
}

.title-inner {
    color: #1877F2;
}

img {
    width: 550px;
    margin-left: -160px;
    margin-top: -20px;
}

.section-right {
    width: 48%;
    border-left: 2px solid #DDE2E8;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 8rem 3rem 0rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

form p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .9rem;
}

form input {
    font-weight: 500;
    font-size: 15px;
    padding: 1.1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;

    &:hover {
        border-color: rgba(0, 0, 0, 0.7);
    }

    &:focus {
        border-color: rgba(0, 0, 0, 0.7);
    }
}

button {
    font-size: 1rem;
    font-weight: 500;
    padding: .7rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.login-btn {
    background-color: #0064E0;
    color: white;
    margin-top: .8rem;

    &:hover {
        background-color: #005ac9;
    }
}

.forgotten-btn,
.create-acc-btn {
    background-color: white;

    &:hover {
        background-color: #F0F0F0;
    }
}

.create-acc-btn {
    width: 100%;
    margin-top: 2rem;
    color: #0064E0;
    border: 1px solid #0064E0;

    &:hover {
        background-color: #F2F2F2;
    }
}

.create-acc-link {
    display: block;
    width: 100%;
}

.meta-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meta-logo-container svg {
    width: 4rem;
    height: 4rem;
    margin-top: -2.2rem;
}