@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* colors */
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #2B2A29;
    --color-accent: #F26522;
    --color-txt-primary: #f1f1f1;
    --hvr-bg-color: #f8f9fa;

    /* transitions */
    --primary-transition: all .3s ease-in-out;

    /* radius */
    --radius-sm: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.max-width {
    max-width: 1110px;
    margin-inline: auto;
}

i {
    color: var(--color-bg-primary);
}

input,
button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

header {
    background-color: var(--color-bg-secondary);
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);

    nav {
        padding: 20px 0;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    nav ul li a {
        color: var(--color-txt-primary);
        display: inline-block;
        padding: 0px 10px;
        transition: var(--primary-transition);

        &:hover {
            color: var(--color-accent);
        }
    }
}

.menu {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 200;
    width: 250px;
    height: 100dvh;
    background-color: #111111;
    color: white;
    padding-top: 60px;
    transition: var(--primary-transition);

    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 20px;
        transition: var(--primary-transition);

        &:hover {
            color: var(--color-accent);
            cursor: pointer;
        }
    }

    a {
        font-size: 20px;
        display: inline-block;
        width: 100%;
        padding: 10px 8px 10px 32px;
        color: white;
        transition: var(--primary-transition);

        &:hover {
            color: var(--color-accent);
        }
    }
}

.menu.open {
    left: 0%;
}

main {
    margin-top: -67px;

    .hero-section {
        height: 100dvh;
        background-image: url(assets/banner-bg.png);
        background-size: cover;
        background-position: top;
        padding-top: 67px;

        .logo-container {
            padding: 30px 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;


            .hamburger {
                font-size: 45px;
                cursor: pointer;
            }

            .dropdown-container {
                position: relative;

                .dropdown-toggle-btn {
                    padding: 7px 16px;
                    font-size: 1rem;
                    border-radius: var(--radius-sm);
                    background-color: var(--color-bg-secondary);
                    color: var(--color-bg-primary);
                    display: flex;
                    align-items: center;
                    gap: 6px;
    
                    i {
                        font-size: 10px;
                    }
                }
    
                .dropdown-toggle-btn:has(> img) {
                    background-color: var(--color-bg-primary);
                    color: var(--color-bg-secondary);
                    gap: 10px;
                    font-size: 14px;
                    padding-block: 8px;
    
                    i {
                        color: var(--color-bg-secondary);
                    }
                }
    
                .dropdown {
                    position: absolute;
                    top: 40px;
                    z-index: 100;
                    background-color: var(--color-bg-primary);
                    opacity: 0;
                    pointer-events: none;
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-block: 8px;
                    border-radius: var(--radius-sm);
                    width: 215px;
                    border: 1px solid rgba(0, 0, 0, .3);
                    transition: var(--primary-transition);
    
                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 4px 24px;
                        font-size: 1rem;
                        color: var(--color-bg-secondary);
                        transition: var(--primary-transition);
    
                        &:hover {
                            background-color: var(--hvr-bg-color);
                            color: black;
                        }
                    }
    
                }
    
                .country-dropdown {
                    width: 160px;
    
                    a img {
                        margin-right: 8px;
                    }
                }
    
    
                .dropdown.open {
                    opacity: 1;
                    pointer-events: all;
                }
            }


            form {
                flex-grow: 1;
                display: flex;
                align-items: stretch;
                border-radius: var(--radius-sm);
                overflow: hidden;

                input {
                    flex-grow: 1;
                    font-size: 1rem;
                    padding: 7px 12px;
                }

                button {
                    padding: 6px 12px;
                    background-color: var(--color-accent);
                    font-size: 16px;
                }
            }

            .header-links-wrapper {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--color-bg-primary);

                a {
                    color: inherit;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: var(--primary-transition);

                    &:hover {
                        color: var(--color-accent);
                    }

                    i {
                        transition: var(--primary-transition);
                    }

                    &:hover i {
                        color: var(--color-accent);
                    }
                }
            }
        }

        .swiper {
            --swiper-navigation-size: 12px;

            margin: 80px auto 0;
            height: 60%;

            .swiper-slide {
                text-align: center;
                font-size: 40px;
                color: var(--color-bg-primary);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: -30px;

                .buy-now-btn {
                    background-color: var(--color-bg-secondary);
                    color: var(--color-bg-primary);
                    padding: 12px 0;
                    border-radius: var(--radius-sm);
                    font-weight: bold;
                    font-size: 1rem;
                    width: 170px;
                    transition: var(--primary-transition);
                    margin-top: 40px;

                    &:hover {
                        background-color: var(--color-accent);
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                width: 45px;
                height: 45px;
                background: rgb(242, 222, 172, 0.80);
                opacity: 1;
                color: #000;
                border-radius: 100px;
                top: 15%;

                &:hover svg {
                    color: var(--color-bg-primary);
                }
            }
    
            .swiper-button-next svg,
            .swiper-button-prev svg {
                height: 14px;
                transition: var(--primary-transition);
            }
        }
    }

    .section-title {
        font-size: 40px;
        color: #30302e;
        text-align: center;
        font-weight: bold;
        padding: 0 0 40px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 50px;

        .product-card {
            width: 33%;
            padding: 20px;
            height: auto;
            box-shadow: 0px 0 30px 10px #f0f0f0;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .content-container {
                text-align: center;
            }

            .product-card-title {
                color: var(--color-bg-secondary);
                font-size: 20px;
                padding-bottom: 5px;
            }

            .product-card-subtitle {
                font-size: 1rem;
                font-weight: 400;

                span {
                    color: var(--color-accent);
                }
            }

            .frame {
                height: 350px;
                flex-shrink: 0;
                padding-top: 40px;
                margin-bottom: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .actions-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    font-size: 16px;
                    transition: var(--primary-transition);
                }

                .buy-now-action {
                    font-weight: bold;
                    color: var(--color-accent);

                    &:hover {
                        color: var(--color-bg-secondary);
                    }
                }

                .see-more-action {
                    color: var(--color-bg-secondary);

                    &:hover {
                        color: var(--color-accent);
                    }
                }
            }
        }
    }

    .section-actions-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding-bottom: 70px;

        button {
            width: 55px;
            height: 55px;
            background-color: var(--color-bg-secondary);
            color: white;
            font-size: 20px;
            transition: var(--primary-transition);

            &:hover {
                background-color: var(--color-accent);
            }
        }

        .left-btn i {
            transform: rotate(90deg);
        }

        .right-btn i {
            transform: rotate(270deg);
        }
    }
    
    .loader {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 16px solid var(--color-bg-secondary);
        border-top-color: var(--color-accent);
        border-bottom-color: var(--color-accent);
        margin: 0 auto 50px;
        animation: spin 6s 0s linear infinite;
    }

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    background-color: #252525;
    padding: 90px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        margin-bottom: 3px;
    }

    form {
        position: relative;
        height: 60px;
        width: 54%;

        input {
            height: 100%;
            width: 100%;
            border-bottom: 1px solid white;
            font-size: 17px;
            color: white;
            background-color: transparent;

            &::placeholder {
                color: white;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 60px;
            background-color: transparent;
            color: var(--color-accent);
            font-size: 17px;
        }
    }

    nav {
        padding-top: 20px;

        ul {
            display: flex;
            gap: 20px;

            a {
                color: white;
            }
        }
    }

    p {
        color: white;

        a {
            color: white;
            transition: var(--primary-transition);

            &:hover {
                color: var(--color-accent);
            }
        }
    }

    .number-para {
        padding: 45px 0 30px;
    }

    .copyright {
        padding: 25px 0 0;
    }
}