* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

section {
    height: 100vh;
    display: flex;
}

section div {
    height: 100%;
}

section > div {
    padding: 2.5rem 1rem 5rem 2.5rem;
}

.section-left {
    width: 51%;
}

.title {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 1.8;
    margin-top: 10px;
}

.title-inner {
    background-clip: text;
    background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    color: transparent;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
}

img {
    width: 350px;
    margin: 0 auto;
}

.section-right {
    width: 49%;
    border-left: 2px solid #DDE2E8;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 5rem 3rem 0rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

form p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .9rem;
}

form input {
    font-weight: 500;
    font-size: 15px;
    padding: 1.1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;

    &:hover {
        border-color: rgba(0, 0, 0, 0.7);
    }

    &:focus {
        border-color: rgba(0, 0, 0, 0.7);
    }
}

button {
    font-size: 1rem;
    font-weight: 500;
    padding: .7rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.login-btn {
    background-color: #0064E0;
    color: white;
    margin-top: .8rem;

    &:hover {
        background-color: #005ac9;
    }
}

.forgotten-btn,
.create-acc-btn {
    background-color: white;

    &:hover {
        background-color: #F0F0F0;
    }
}

.login-with-facebook-btn {
    margin-top: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    &:hover {
        background-color: #F0F0F0;
    }
}

.login-with-facebook-btn img {
    width: 25px;
}

.create-acc-btn {
    width: 100%;
    color: #0064E0;
    border: 1px solid #0064E0;

    &:hover {
        background-color: #F2F2F2;
    }
}

.create-acc-link {
    display: block;
    width: 100%;
}

.meta-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meta-logo-container svg {
    width: 4rem;
    height: 4rem;
    margin-top: -2.2rem;
}